{% extends "home.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Docente</h2>
        <div class="card">
            <div class="card-body">
                <form action="/home/createprofesor/editarDocente/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{curso.CODD}}" class="form-control" placeholder="Código"
                            minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{curso.Names}}" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="carrera" name="carrera" value="{{curso.D_Escuela.NSchool}}" class="form-control" placeholder="Carrera"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}